html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    overflow: hidden;
}

.container{
    margin-top: 50px;
}

h2{
    margin-bottom: 20px;
}

p{
    margin-top: 20px;
}

label{
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    margin-top: 20px;

}

input[type="date"], input[type="time"]{
    font-size: 13px;
}

select.form-select{
    font-size: 13px;
}

.formulario-botao{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.formulario-botao button{
    width: 100%;
}

.btn.btn-primary{
    background-color: #FFE432;
    border: none;
    color: black;
    font-weight: 500;
}

.btn.btn-primary:hover{
    background-color: #FFD700;
    color: black;
}

#map{
    height: 100%;
    border: 1px solid black;
}